################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Joguinho/bin/Debug
/Joguinho/obj/Debug
/Joguinho/obj/Release/Joguinho.csproj.CoreCompileInputs.cache
